<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./a.css">
</head>
<body>
    <div class="profile screen">
        <div class="navbar">
          <div class="logo-2">
            <div class="logo-3">
              <div class="logo-container-logo">
                <img
                  class="logo-4"
                  src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/logo@2x.png"
                  alt="logo"
                />
                <div class="logo-1">
                  <h1 class="text valign-text-middlenotosans-bold-old-copper-40px">來七桃</h1>
                  <div class="play-in-taiwanvalign-text-middlenotosans-bold-old-copper-24px">PlayInTaiwan</div>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-btn">
            <p class="text-2valign-text-middlenotosans-semi-bold-old-copper-24px">
              旅遊行程&nbsp;&nbsp;&nbsp;&nbsp;票卷活動&nbsp;&nbsp;&nbsp;&nbsp;訂房住宿&nbsp;&nbsp;&nbsp;&nbsp;會員中心
            </p>
          </div>
          <div class="signbtn">
            <div class="signbtn-item">
              <div class="login">
                <div class="overlap-group">
                  <img
                    class="rectangle-73-1"
                    src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/rectangle-73@2x.svg"
                    alt="Rectangle 73"
                  />
                  <div class="text-1valign-text-middlenotosans-semi-bold-old-copper-24px">登出</div>
                </div>
              </div>
            </div>
            <div class="signbtn-item">
              <div class="login">
                <div class="overlap-group">
                  <div class="rectangle-73-2"></div>
                  <div class="text-1valign-text-middlenotosans-semi-bold-old-copper-24px">註冊</div>
                </div>
              </div>
            </div>
            <div class="cart-signbtn">
              <div class="cart-cart">
                <img
                  class="vector"
                  src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/vector-1@2x.svg"
                  alt="Vector"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="main">
          <div class="sidebar">
            <div class="user-pic">
              <div class="pic"></div>
              <div class="name">Jerry</div>
            </div>
            <div class="side-point">
              <div class="side-point-item">
                <div class="overviewmicrosoftjhenghei-regular-normal-old-copper-12px">point</div>
                <div class="overview-1microsoftjhenghei-regular-normal-old-copper-12px">426</div>
              </div>
              <img
                class="line"
                src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/line-2-1@2x.svg"
                alt="Line 2"
              />
              <div class="side-point-item">
                <div class="overviewmicrosoftjhenghei-regular-normal-old-copper-12px">travel</div>
                <div class="overview-1microsoftjhenghei-regular-normal-old-copper-12px">426</div>
              </div>
              <img
                class="line"
                src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/line-2-1@2x.svg"
                alt="Line 3"
              />
              <div class="side-point-item">
                <div class="overviewmicrosoftjhenghei-regular-normal-old-copper-12px">trip</div>
                <div class="overview-1microsoftjhenghei-regular-normal-old-copper-12px">426</div>
              </div>
            </div>
            <div class="side-bar-item">
              <div class="side-container">
                <div class="sidevar-buylist">
                  <div class="index-container">
                    <img
                      class="index-pic-h"
                      src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/index-pic-h@2x.svg"
                      alt="index-pic-h"
                    />
                    <div class="index-text-hmicrosoftjhenghei-bold-old-copper-14px">訂單</div>
                  </div>
                </div>
                <div class="sidebar-coupon">
                  <div class="overlap-group-1">
                    <div class="link"></div>
                    <div class="cupon-tnotosans-normal-old-copper-14px">我的優惠券</div>
                    <img
                      class="cupon-p"
                      src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/cupon-p-1@2x.svg"
                      alt="cupon-p"
                    />
                  </div>
                </div>
                <div class="side">
                  <div class="overlap-group-1">
                    <div class="link"></div>
                    <div class="mylove-tnotosans-normal-old-copper-14px">我的最愛</div>
                    <img
                      class="mylove-p"
                      src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/mylove-p-1@2x.svg"
                      alt="mylove-p"
                    />
                  </div>
                </div>
                <div class="side-1">
                  <img
                    class="message-p"
                    src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/message-p-1@2x.svg"
                    alt="message-p"
                  />
                  <div class="message-tnotosans-normal-old-copper-14px">訊息</div>
                </div>
                <div class="side-1">
                  <img
                    class="pay-p"
                    src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/pay-p-1@2x.svg"
                    alt="pay-p"
                  />
                  <div class="pay-tnotosans-normal-old-copper-14px">支付</div>
                </div>
                <div class="side">
                  <div class="overlap-group-1">
                    <div class="link"></div>
                    <div class="setting-tnotosans-normal-old-copper-14px">設定</div>
                    <img
                      class="setting-p"
                      src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/setting-p@2x.svg"
                      alt="setting-p"
                    />
                  </div>
                </div>
                <div class="side-1">
                  <img
                    class="logout-p"
                    src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/logout-p-1@2x.svg"
                    alt="logout-p"
                  />
                  <div class="logout-t">登出</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="buytitlevalign-text-middlenotosans-normal-old-copper-32px">訂購清單</div>
            <div class="buylist">
              <div class="overlap-group9">
                <div class="buylist-items">
                  <div class="overlap-group3">
                    <div class="component">
                      <div class="overlap-group-2">
                        <img
                          class="rectangle-1911"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/rectangle-1911@2x.png"
                          alt="Rectangle 1911"
                        />
                        <div class="sukhothai-old-cityvalign-text-middlenotosans-normal-old-copper-20px">
                          宜蘭龜山島賞鯨體驗
                        </div>
                      </div>
                    </div>
                    <div class="text-4valign-text-middlenotosans-normal-sepia-16px">2022-12-31 15:00</div>
                  </div>
                  <div class="overlap-group5">
                    <div class="component">
                      <div class="overlap-group-2">
                        <img
                          class="rectangle-1911"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/rectangle-1911-1@2x.png"
                          alt="Rectangle 1911"
                        />
                        <div class="sukhothai-old-cityvalign-text-middlenotosans-normal-old-copper-20px">
                          宜蘭龜山島賞鯨體驗
                        </div>
                      </div>
                    </div>
                    <div class="text-5valign-text-middlenotosans-normal-sepia-16px">2022-12-31 15:00</div>
                  </div>
                  <div class="overlap-group4">
                    <div class="component">
                      <div class="overlap-group-2">
                        <img
                          class="rectangle-1911"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/rectangle-1911-1@2x.png"
                          alt="Rectangle 1911"
                        />
                        <div class="sukhothai-old-cityvalign-text-middlenotosans-normal-old-copper-20px">
                          宜蘭龜山島賞鯨體驗
                        </div>
                      </div>
                    </div>
                    <div class="text-6valign-text-middlenotosans-normal-sepia-16px">2022-12-31 15:00</div>
                  </div>
                </div>
                <div class="nt-7200-1valign-text-middlenotosans-normal-sepia-16px">實付金額：NT$ 7200</div>
                <div class="nt-7200-2valign-text-middlenotosans-normal-sepia-16px">實付金額：NT$ 7200</div>
                <div class="nt-7200-3valign-text-middlenotosans-normal-sepia-16px">實付金額：NT$ 7200</div>
                <div class="button-1">
                  <div class="publishvalign-text-middlenotosans-normal-old-copper-16px">查看憑證</div>
                </div>
                <div class="button-2">
                  <div class="publishvalign-text-middlenotosans-normal-old-copper-16px">查看憑證</div>
                </div>
                <div class="button-3">
                  <div class="publishvalign-text-middlenotosans-normal-old-copper-16px">查看憑證</div>
                </div>
                <div class="button-4">
                  <div class="overlap-group-3">
                    <div class="publishvalign-text-middlenotosans-normal-old-copper-16px">撰寫評價</div>
                  </div>
                </div>
                <div class="button-5">
                  <div class="overlap-group-3">
                    <div class="publishvalign-text-middlenotosans-normal-old-copper-16px">撰寫評價</div>
                  </div>
                </div>
                <div class="button-6">
                  <div class="overlap-group-3">
                    <div class="publishvalign-text-middlenotosans-normal-old-copper-16px">撰寫評價</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="prefertitlevalign-text-middlenotosans-normal-old-copper-32px">推薦商品</div>
            <div class="preferlist">
              <div class="group-102-1">
                <div class="overlap-group-4">
                  <img
                    class="rectangle-82"
                    src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/rectangle-82@2x.png"
                    alt="Rectangle 82"
                  />
                  <div class="surname-1">Snow Hills</div>
                  <p class="great-skiing-opportu-1notosans-bold-old-copper-14px">
                    Great skiing opportunity with a beautiful view
                  </p>
                  <div class="group-98-1">
                    <div class="group-97-1">
                      <img
                        class="place-1"
                        src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/place@2x.png"
                        alt="place"
                      />
                      <div class="carpati-ukraine-1notosans-bold-old-copper-14px">Carpati., Ukraine</div>
                    </div>
                    <div class="group-96">
                      <img
                        class="coin-1"
                        src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/coin@2x.png"
                        alt="coin"
                      />
                      <div class="group-107-1">
                        <div class="number-1">75</div>
                        <div class="person-1">/ person</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-3707">
                <div class="group-102-2">
                  <div class="overlap-group-4">
                    <img
                      class="rectangle-82"
                      src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/rectangle-82@2x.png"
                      alt="Rectangle 82"
                    />
                    <div class="surname-2microsoftjhenghei-bold-old-copper-18px">Snow Hills</div>
                    <p class="great-skiing-opportu-2microsoftjhenghei-bold-old-copper-14px">
                      Great skiing opportunity with a beautiful view
                    </p>
                    <div class="group-98-2">
                      <div class="group-97-2">
                        <img
                          class="place-2"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/place@2x.png"
                          alt="place"
                        />
                        <div class="carpati-ukraine-2microsoftjhenghei-bold-old-copper-14px">Carpati., Ukraine</div>
                      </div>
                      <div class="group-96">
                        <img
                          class="coin-2"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/coin@2x.png"
                          alt="coin"
                        />
                        <div class="group-107-2">
                          <div class="number-2microsoftjhenghei-bold-old-copper-16px">75</div>
                          <div class="person-2microsoftjhenghei-regular-normal-old-copper-10px">/ person</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-3707">
                <div class="group-102-3">
                  <div class="overlap-group-4">
                    <img
                      class="rectangle-82"
                      src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/rectangle-82@2x.png"
                      alt="Rectangle 82"
                    />
                    <div class="surname-3microsoftjhenghei-bold-old-copper-18px">Snow Hills</div>
                    <p class="great-skiing-opportu-3microsoftjhenghei-bold-old-copper-14px">
                      Great skiing opportunity with a beautiful view
                    </p>
                    <div class="group-98-3">
                      <div class="group-97-3">
                        <img
                          class="place-3"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/place@2x.png"
                          alt="place"
                        />
                        <div class="carpati-ukraine-3microsoftjhenghei-bold-old-copper-14px">Carpati., Ukraine</div>
                      </div>
                      <div class="group-96">
                        <img
                          class="coin-3"
                          src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63a52632949b656475cd2218/img/coin@2x.png"
                          alt="coin"
                        />
                        <div class="group-107-3">
                          <div class="number-3microsoftjhenghei-bold-old-copper-16px">75</div>
                          <div class="person-3microsoftjhenghei-regular-normal-old-copper-10px">/ person</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="frame-2608868">
            <div class="group-37060">
              <div class="logo-container-group-37060">
                <img
                  class="logo-5"
                  src="https://anima-uploads.s3.amazonaws.com/projects/63a3d7f0cee2e91f8ed55e4b/releases/63ae84ba4c10a2b12b0de8bf/img/logo-1@2x.png"
                  alt="logo"
                />
                <div class="logo-1">
                  <div class="textvalign-text-middlenotosans-bold-old-copper-40px">來七桃</div>
                  <div class="play-in-taiwanvalign-text-middlenotosans-bold-old-copper-24px">
                    PlayInTaiwan
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-item2">
            <div class="group-117">
              <div class="place-4microsoftjhenghei-bold-old-copper-16px">Home</div>
              <div class="place-5microsoftjhenghei-bold-old-copper-16px">Tours</div>
              <div class="categorymicrosoftjhenghei-bold-old-copper-16px">Category</div>
              <div class="about-usmicrosoftjhenghei-bold-old-copper-16px">About Us</div>
            </div>
            <div class="menumicrosoftjhenghei-bold-old-copper-20px">Menu</div>
          </div>
          <div class="footer-item3">
            <div class="booking-planmicrosoftjhenghei-bold-old-copper-20px">Booking Plan</div>
            <div class="group-119-footer-item3">
              <div class="personal-tripmicrosoftjhenghei-bold-old-copper-16px">Personal Trip</div>
              <div class="group-tripmicrosoftjhenghei-bold-old-copper-16px">Group Trip</div>
            </div>
          </div>
          <div class="footer-item4">
            <div class="group-123">
              <div class="supportmicrosoftjhenghei-bold-old-copper-20px">Support</div>
              <div class="group-124">
                <div class="faqmicrosoftjhenghei-bold-old-copper-16px">FAQ</div>
                <div class="terms-conditionsmicrosoftjhenghei-bold-old-copper-16px">Terms &amp; Conditions</div>
                <div class="privacy-policymicrosoftjhenghei-bold-old-copper-16px">Privacy Policy</div>
              </div>
            </div>
          </div>
          <div class="footer-item5">
            <div class="get-appmicrosoftjhenghei-bold-old-copper-20px">Get App</div>
            <div class="group-119-footer-item5">
              <div class="google-play-storemicrosoftjhenghei-bold-old-copper-16px">Google Play Store</div>
              <div class="app-storemicrosoftjhenghei-bold-old-copper-16px">App Store</div>
              <div class="other-storesmicrosoftjhenghei-bold-old-copper-16px">Other Stores</div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>